/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.card {
  width: 250px !important;
  height: 370px !important;
  position: relative !important;
  border: 0px !important;

}

.hov {
  display: none;
  color: aqua;
  width: 100%;
  height: 100%;
}

.card:hover .hov {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card:hover::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
} */

@media (max-width:576px) {
  .col-card {
    height: 300px !important;
  }
}

.card-hover {
  display: none;
  width: 100%;
  height: 100%;
  position: relative;
}

.card-hover p {
  text-align: center;
  color: white;
}

.col-card {
  cursor: pointer;
}

.col-card:hover::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 15px;
}

.col-card:hover .card-hover {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-style {
  background-color: rgb(196, 131, 10) !important;
}

.logo {
  height: 72px;
  width: 78px;
}

.me-2 {
  height: 20px;
  position: relative;
}

.search {
  position: relative;
}


.search input {
  height: 40px;
  text-indent: 25px;
  border-radius: 20px;
}

.search input:focus {
  box-shadow: none;
  border: 2px solid red;
}

.search .fa-search {
  position: absolute;
  top: 12px;
  left: 16px;
}

.movd {

  background-color: aqua;
  width: 100px;
  height: 100px;

}

.card-detalis {
  height: 370px;
  border-radius: 20px;
  background-color: #f8f8f8;
}

.card-story {
  height: 150px;
  border-radius: 20px;
  background-color: #f8f8f8;
}

.img-movie {
  height: 360px;
  padding: 10px;
  border-radius: 20px;
}

.card-text-details {
  color: #555555;
  font-family: Almarai;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 49px;
}

.card-text-story {
  color: #555555;
  font-family: Almarai;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 32px;
}

.card-text-title {
  color: #555555;
  font-family: Almarai;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 49px;
}